# Pandas DataFrame
- Dataframes are like an entire excel spreadsheet! As you can probably guess, dataframes are a list of series, each one with a name and the same index. this an easy way to create a dataframe is to create it with a dictionary of series/lists
- [download demo data](https://thinkingmachines.in/downloads/data26.zip)
- tsv  tab sepreated value
- csv comma sepreated value

In [409]:
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv" , sep='\t')
print(dataFrame)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [410]:
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t")
# print(dataFrame)
print(type(dataFrame))
print(dataFrame.shape) # size of dataframe in matrix
print(dataFrame.columns) # columns of dataframe 
print(type(dataFrame.columns))
print(dataFrame.dtypes) # print datatypes of columns
print(type(dataFrame.dtypes))
print(dataFrame.info()) # provides informations

<class 'pandas.core.frame.DataFrame'>
(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [411]:
country = dataFrame['country']
print(country)
print(type(country))
countries = set(dataFrame['country'])
# print(countries)
print(type(countries))
for c in countries: 
    print(c)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
<class 'pandas.core.series.Series'>
<class 'set'>
Panama
Zimbabwe
Sierra Leone
Canada
Nicaragua
Spain
Belgium
Comoros
Tunisia
Niger
El Salvador
China
Trinidad and Tobago
Honduras
Netherlands
Botswana
Dominican Republic
Bosnia and Herzegovina
Kuwait
Madagascar
Denmark
Mauritius
Costa Rica
Italy
United Kingdom
West Bank and Gaza
Eritrea
Sri Lanka
Syria
Ecuador
Albania
Turkey
Sao Tome and Principe
Djibouti
Chad
Norway
Reunion
Algeria
Rwanda
South Africa
Ghana
Equatorial Guinea
Haiti
Slovak Republic
Indonesia
Oman
Togo
Guinea
Korea, Rep.
Liberia
Uruguay
Myanmar
Israel
Korea, Dem. Rep.
Mexico
Guinea-Bissau
Morocco
Croatia
Taiwan
Bolivia
Brazil
Ethiopia
Afghanistan
Iceland
Malawi
Burkina Faso
Germany
Hungary
Switzerland
Lebanon
Zambia
Finland
Egypt
Jamaica
Bulgaria
Greece
Cote d'Ivoire
Poland
Singapore
Mozambique
Hong Kong, China
Nepal
Swaziland
Jordan
Thailand
Czech Republic
Mongolia
Paraguay
Sweden
Central African Republic
Gambia
Iran
Vietnam
New Zealand
Somalia
Cuba
Bahrain
Congo, Dem. Rep.
Saudi Arabia
India
Sudan
Mauritania
Serbia
Cambodia
Pakistan
Libya
Argentina
Peru
Senegal
Yemen, Rep.
Congo, Rep.
Venezuela
Nigeria
Iraq
Montenegro
Malaysia
Japan
Slovenia
Angola
Guatemala
Kenya
Uganda
Romania
Cameroon
Gabon
Namibia
Philippines
Lesotho
Bangladesh
Colombia
France
Tanzania
Australia
United States
Austria
Chile
Ireland
Puerto Rico
Mali
Benin
Burundi
Portugal

In [412]:
a = dataFrame[["country" , "year"]]
print(type(a))
print(a.head())
print(a.tail())
print(a.iloc[4]) # 4 index data
print(dataFrame.iloc[4])
print(list(dataFrame.iloc[4]))

<class 'pandas.core.frame.DataFrame'>
       country  year
0  Afghanistan  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972
       country  year
1699  Zimbabwe  1987
1700  Zimbabwe  1992
1701  Zimbabwe  1997
1702  Zimbabwe  2002
1703  Zimbabwe  2007
country    Afghanistan
year              1972
Name: 4, dtype: object
country      Afghanistan
continent           Asia
year                1972
lifeExp           36.088
pop             13079460
gdpPercap     739.981106
Name: 4, dtype: object
['Afghanistan', 'Asia', 1972, 36.088, 13079460, 739.9811058]

In [413]:
print(dataFrame.iloc[:,0]) # 0 index se all data
print(dataFrame.iloc[range(0,10,2)])
# iloc  loc  ix
print("*"*50)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
**************************************************

### group by

In [414]:
# print(dataFrame.groupby("country")["pop"].count())
# print(dataFrame.groupby("country")["pop"].sum())
# print(dataFrame.groupby("country").sum()["pop"])
print(dataFrame)
# SQL -->  select sum(population) from country group by name
print(dataFrame.groupby("country").sum())
# print(dataFrame.groupby("country").sum()[['year']])

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
                                                            continent   year  \
country
Afghanistan          AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsia  23754
Albania             EuropeEuropeEuropeEuropeEuropeEuropeEuropeEuro...  23754
Algeria             AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...  23754
Angola              AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...  23754
Argentina           AmericasAmericasAmericasAmericasAmericasAmeric...  23754
...                                                               ...    ...
Vietnam              AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsia  23754
West Bank and Gaza   AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsia  23754
Yemen, Rep.          AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsia  23754
Zambia              AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...  23754
Zimbabwe            AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...  23754

                    lifeExp        pop      gdpPercap
country
Afghanistan         449.746  189884585    9632.095181
Albania             821.195   30962990   39064.399592
Algeria             708.362  238504874   53112.311678
Angola              454.602   87712681   43285.206346
Argentina           828.725  343226879  107466.645392
...                     ...        ...            ...
Vietnam             689.754  654822851   12212.551382
West Bank and Gaza  723.944   22183278   45119.961375
Yemen, Rep.         561.365  130118302   18831.296066
Zambia              551.956   76245658   16298.392908
Zimbabwe            631.958   91703593    7630.296508

[142 rows x 5 columns]

### Create DataFrame

In [415]:
import pandas
myDataFrame = pandas.DataFrame(
    {
        "roll_number":[101,102,103,104,105],
        "name":["Sameer","Sudhir","Sandeep","pankaj","Rahul"],
        "city":["Ujjain","Indore","Shajapur","Indore","Mumbai"]
    }
)
print(myDataFrame)
print(myDataFrame.info())

   roll_number     name      city
0          101   Sameer    Ujjain
1          102   Sudhir    Indore
2          103  Sandeep  Shajapur
3          104   pankaj    Indore
4          105    Rahul    Mumbai
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   roll_number  5 non-null      int64
 1   name         5 non-null      object
 2   city         5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

#### SQL --> JOIN
### merge to dataFrame with inner (join)

In [416]:
import pandas

citiesDataFrame=pandas.DataFrame(
    {
        "city_code":[1,2,3,4,5,6],
        "city_name":["Ujjain","Dewas","Indore","Mumbai","Pune","Goa"]
    }
)

studentsDataFrame=pandas.DataFrame(
    {
        "student_roll_number":[101,102,103,204],
        "student_name":["Sameer","Sudhir","pankaj","Rahul"],
        "city_code":[1,2,2,4]
    }
)

stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="inner",on=["city_code"])

print(stud)

   student_roll_number student_name  city_code city_name
0                  101       Sameer          1    Ujjain
1                  102       Sudhir          2     Dewas
2                  103       pankaj          2     Dewas
3                  204        Rahul          4    Mumbai

In [417]:
# left join , right join
stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="left",on=["city_code"])

print(stud)

stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="right",on=["city_code"])

print(stud)

   student_roll_number student_name  city_code city_name
0                  101       Sameer          1    Ujjain
1                  102       Sudhir          2     Dewas
2                  103       pankaj          2     Dewas
3                  204        Rahul          4    Mumbai
   student_roll_number student_name  city_code city_name
0                101.0       Sameer          1    Ujjain
1                102.0       Sudhir          2     Dewas
2                103.0       pankaj          2     Dewas
3                  NaN          NaN          3    Indore
4                204.0        Rahul          4    Mumbai
5                  NaN          NaN          5      Pune
6                  NaN          NaN          6       Goa

---
# Assignment 
* pandas.series
* iloc
* loc
* nunique

#### iloc 
* Access a group of rows and columns by integer position(s).
* Purely integer-location based indexing for selection by position.

In [418]:
# iloc
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv" , sep='\t')
print(dataFrame.iloc[0]) # 0 index ka data means ==> zeroth row (series)
print(type(dataFrame.iloc[0]))
# lst=list(dataFrame.iloc[0])
print(dataFrame.iloc[[0]]) # 0 index ka data matlab ==> zeroth row(dataframe)
print(type(dataFrame.iloc[[0]]))
# lst2=dataFrame.iloc[[True,False,True]]
lst2=dataFrame.iloc[lambda x: x.index % 2 == 0]
# print(lst)
print(lst2)

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
<class 'pandas.core.frame.DataFrame'>
          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
6     Afghanistan      Asia  1982   39.854  12881816  978.011439
8     Afghanistan      Asia  1992   41.674  16317921  649.341395
...           ...       ...   ...      ...       ...         ...
1694     Zimbabwe    Africa  1962   52.358   4277736  527.272182
1696     Zimbabwe    Africa  1972   55.635   5861135  799.362176
1698     Zimbabwe    Africa  1982   60.363   7636524  788.855041
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623

[852 rows x 6 columns]

In [419]:
# print(dataFrame.iloc[4])
a=dataFrame.iloc[4,1] #4th row ka 1 index
print(a)
print(type(dataFrame.iloc[4,1]))
print(dataFrame.iloc[[0,4]]) # 0th row and 4th row
print(type(dataFrame.iloc[[0,4]])) # 0th row and 4th row

print((dataFrame.iloc[[0,4]][['country','year']]))

Asia
<class 'str'>
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
       country  year
0  Afghanistan  1952
4  Afghanistan  1972

In [420]:
print(dataFrame.iloc[:3])
print(dataFrame.iloc[[0,2],[1,3]])
print(dataFrame.iloc[1:3,0:3])

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
  continent  lifeExp
0      Asia   28.801
2      Asia   31.997
       country continent  year
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962

In [421]:
print(dataFrame.iloc[:,[True,False,True,False,False,False]])
print(dataFrame.iloc[: , lambda x : [1,2]])

          country  year
0     Afghanistan  1952
1     Afghanistan  1957
2     Afghanistan  1962
3     Afghanistan  1967
4     Afghanistan  1972
...           ...   ...
1699     Zimbabwe  1987
1700     Zimbabwe  1992
1701     Zimbabwe  1997
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[1704 rows x 2 columns]
     continent  year
0         Asia  1952
1         Asia  1957
2         Asia  1962
3         Asia  1967
4         Asia  1972
...        ...   ...
1699    Africa  1987
1700    Africa  1992
1701    Africa  1997
1702    Africa  2002
1703    Africa  2007

[1704 rows x 2 columns]

### loc
* Access a group of rows and columns by label(s) or a boolean array.
* Purely label-location based indexer for selection by label.

In [422]:
dataFrame = pandas.read_csv('data/data26/video26_dataset_1.tsv',sep="\t")
# print(dataFrame)
# print(dataFrame['year'])
print(dataFrame.index) # RangeIndex(start=0, stop=1704, step=1)
print(list(dataFrame.loc[5]))
print(list(dataFrame.iloc[5]))

RangeIndex(start=0, stop=1704, step=1)
['Afghanistan', 'Asia', 1977, 38.438, 14880372, 786.11336]
['Afghanistan', 'Asia', 1977, 38.438, 14880372, 786.11336]

In [423]:
print(dataFrame.iloc[[5,1]])
print(dataFrame.loc[[5,1]])

       country continent  year  lifeExp       pop  gdpPercap
5  Afghanistan      Asia  1977   38.438  14880372  786.11336
1  Afghanistan      Asia  1957   30.332   9240934  820.85303
       country continent  year  lifeExp       pop  gdpPercap
5  Afghanistan      Asia  1977   38.438  14880372  786.11336
1  Afghanistan      Asia  1957   30.332   9240934  820.85303

In [424]:
# print(dataFrame.iloc[0,'year']) not accept the string value , not aplicable
print(dataFrame.loc[5,'year']) # 5th index ka year
print(dataFrame.loc[0:5,'year'],)
print(dataFrame.loc[0:5,['year','country']])
# print(type(dataFrame.iloc[:5][['year','country']]))
print(type(dataFrame.loc[:5,['year','country']]))

1977
0    1952
1    1957
2    1962
3    1967
4    1972
5    1977
Name: year, dtype: int64
   year      country
0  1952  Afghanistan
1  1957  Afghanistan
2  1962  Afghanistan
3  1967  Afghanistan
4  1972  Afghanistan
5  1977  Afghanistan
<class 'pandas.core.frame.DataFrame'>

In [425]:
dataFrame.loc[pandas.Index([0,1],name="foo")]

         country continent  year  lifeExp      pop   gdpPercap
foo
0    Afghanistan      Asia  1952   28.801  8425333  779.445314
1    Afghanistan      Asia  1957   30.332  9240934  820.853030

> #### spacial things

In [426]:
print(dataFrame.loc[dataFrame['year']>2000])
print(dataFrame.loc[dataFrame['year']>2000 , ['country']])
print(dataFrame.loc[dataFrame['year']>2000 , ['country','year']])

          country continent  year  lifeExp       pop    gdpPercap
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
34        Algeria    Africa  2002   70.994  31287142  5288.040382
...           ...       ...   ...      ...       ...          ...
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[284 rows x 6 columns]
          country
10    Afghanistan
11    Afghanistan
22        Albania
23        Albania
34        Algeria
...           ...
1679  Yemen, Rep.
1690       Zambia
1691       Zambia
1702     Zimbabwe
1703     Zimbabwe

[284 rows x 1 columns]
          country  year
10    Afghanistan  2002
11    Afghanistan  2007
22        Albania  2002
23        Albania  2007
34        Algeria  2002
...           ...   ...
1679  Yemen, Rep.  2007
1690       Zambia  2002
1691       Zambia  2007
1702     Zimbabwe  2002
1703     Zimbabwe  2007

[284 rows x 2 columns]

In [427]:
# print(dataFrame.loc[lambda df : df['year']==2002])
dataFrame.loc[[0,1],['year']] ='2000' # set the year value 2000 for 0 and 1 index 
print(dataFrame.head())
dataFrame.loc[:,['year']]=3000
print(dataFrame.head())


dataFrame.loc[0]=20 # set all value of 0 index into 20 
print(dataFrame.head())

dataFrame.loc[dataFrame['year']< 2000,['year']] = 0
print(dataFrame)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  2000   28.801   8425333  779.445314
1  Afghanistan      Asia  2000   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  3000   28.801   8425333  779.445314
1  Afghanistan      Asia  3000   30.332   9240934  820.853030
2  Afghanistan      Asia  3000   31.997  10267083  853.100710
3  Afghanistan      Asia  3000   34.020  11537966  836.197138
4  Afghanistan      Asia  3000   36.088  13079460  739.981106
       country continent  year  lifeExp       pop   gdpPercap
0           20        20    20   20.000        20   20.000000
1  Afghanistan      Asia  3000   30.332   9240934  820.853030
2  Afghanistan      Asia  3000   31.997  10267083  853.100710
3  Afghanistan      Asia  3000   34.020  11537966  836.197138
4  Afghanistan      Asia  3000   36.088  13079460  739.981106
          country continent  year  lifeExp       pop   gdpPercap
0              20        20     0   20.000        20   20.000000
1     Afghanistan      Asia  3000   30.332   9240934  820.853030
2     Afghanistan      Asia  3000   31.997  10267083  853.100710
3     Afghanistan      Asia  3000   34.020  11537966  836.197138
4     Afghanistan      Asia  3000   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  3000   62.351   9216418  706.157306
1700     Zimbabwe    Africa  3000   60.377  10704340  693.420786
1701     Zimbabwe    Africa  3000   46.809  11404948  792.449960
1702     Zimbabwe    Africa  3000   39.989  11926563  672.038623
1703     Zimbabwe    Africa  3000   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [428]:
dataFrame.loc[7:9]
# dataFrame.iloc[7:9]

       country continent  year  lifeExp       pop   gdpPercap
7  Afghanistan      Asia  3000   40.822  13867957  852.395945
8  Afghanistan      Asia  3000   41.674  16317921  649.341395
9  Afghanistan      Asia  3000   41.763  22227415  635.341351

### multi indexing

In [429]:
import pandas as pd
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
print(df)
print(df.loc['cobra'])
df.loc['cobra', 'mark i']
df.loc[[('cobra', 'mark ii')]]
df.loc[('cobra', 'mark i'), 'shield']
df.loc[('cobra', 'mark ii'):'viper']
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36
         max_speed  shield
mark i          12       2
mark ii          0       4

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

### nunique

In [430]:
import pandas
dataFrame = pandas.DataFrame(
    {'A': [4, 5, 6], 'B': [4, 1, 1]}
)
print(dataFrame.nunique()) # a have 3 unique item and b have 2
dataFrame.nunique(axis=1) # check unique on column

A    3
B    2
dtype: int64

0    1
1    2
2    2
dtype: int64

# pandas.series
- series is like a column in excel, basically a list of datapoints all of the same type.
- one thing that is super useful about series is that you can do vectorized operations (fast computations on everything in the entire series) on them. And you have already seen one.

In [431]:
import pandas
dct = { 
    "a":1,
    "b":2,
    "c":3
}

series = pandas.Series(data=dct)
print(series)

series = pandas.Series(data=dct,index=["a","b","c"]) # index should be matched with dct.keys()
print(series)

error_series = pandas.Series(data=dct , index=['x','y','z']) # invaild series
print(error_series) # NOTE that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64
x   NaN
y   NaN
z   NaN
dtype: float64

In [432]:
# Series with List
lst = [1,2,3,4]
series = pandas.Series(lst)
print(series)

series.iloc[0] =999
print(series) 
print(lst)

0    1
1    2
2    3
3    4
dtype: int64
0    999
1      2
2      3
3      4
dtype: int64
[1, 2, 3, 4]

In [433]:
import numpy
r =numpy.array([1, 2])
ser = pd.Series(r, copy=False)
ser.iloc[0] = 999
print(r)
print(ser)
r =numpy.array([1, 2])
ser = pd.Series(r, copy=True)
ser.iloc[0] = 999
print(r)
print(ser)

[999   2]
0    999
1      2
dtype: int64
[1 2]
0    999
1      2
dtype: int64

In [434]:
s=pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])
print(s)
import pandas
dct = { 
    "a":1,
    "b":2,
    "c":3
}
series = pandas.Series(data=dct)
print(series)

print(series.index)
print(series.array)
print(series.values)

a    5
b    5
c    5
d    5
e    5
dtype: int64
a    1
b    2
c    3
dtype: int64
Index(['a', 'b', 'c'], dtype='object')
<PandasArray>
[1, 2, 3]
Length: 3, dtype: int64
[1 2 3]

In [435]:
print(series[0])
print(series[:3])

1
a    1
b    2
c    3
dtype: int64

In [436]:
print(series[[2,0,1]])
print(series.values)
print(series['a'])
series['a']=500
print(series['a'])

c    3
a    1
b    2
dtype: int64
[1 2 3]
1
500

In [437]:
print(series[series > 100])
print(series>100)

a    500
dtype: int64
a     True
b    False
c    False
dtype: bool

In [438]:
# you can mutate the data too
# you'll just need to be careful with this!
series[series < 100] *= -1
print(series)
series > 0

a    500
b     -2
c     -3
dtype: int64

a     True
b    False
c    False
dtype: bool

In [439]:
series+series

a    1000
b      -4
c      -6
dtype: int64

In [440]:
numpy.exp(series)

a    1.403592e+217
b     1.353353e-01
c     4.978707e-02
dtype: float64

In [441]:
print(series.mean())
# just be careful with some operations
# if the indexes don't match up you will get nans
series+series[series < 100]

165.0

a    NaN
b   -4.0
c   -6.0
dtype: float64

In [442]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0