In [1]:
import pandas 
cities=pandas.DataFrame({
"code":[1,2,3,4],
"name":["indore","ujjain","Mumbai","Pune"]
})

students = pandas.DataFrame({
"roll_number":[101,102,103,104],
"name":["Pankaj","sudhir","Ramesh","Rakesh"],
"city_code":[1,2,2,4]
})
print(cities)
print(students)
# merge the both dataFrames
student_with_cities = pandas.merge(students,cities,how="inner", left_on=["city_code"] , right_on=["code"])
print(student_with_cities)

   code    name
0     1  indore
1     2  ujjain
2     3  Mumbai
3     4    Pune
   roll_number    name  city_code
0          101  Pankaj          1
1          102  sudhir          2
2          103  Ramesh          2
3          104  Rakesh          4
   roll_number  name_x  city_code  code  name_y
0          101  Pankaj          1     1  indore
1          102  sudhir          2     2  ujjain
2          103  Ramesh          2     2  ujjain
3          104  Rakesh          4     4    Pune

In [ ]:
#print(student_with_cities)
print(type(student_with_cities))
print(student_with_cities.loc[:,student_with_cities.columns!="city_code"])
# tips_gb[['total_bill', 'tip']].transform(lambda x: x / x.mean()).head()

In [ ]:
# copy to clipbord
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t")
dataFrame.to_clipboard()

In [ ]:
# to html
dataFrame.to_html("data/outputs/abcd.html")

In [ ]:
# to json
dataFrame.to_json("data/outputs/pqr.json") #it's not perfect
dataFrame.to_json("data/outputs/abc.json",orient="table") # it's perfect

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
dataFrame.to_sql('users', con=engine)
engine.execute("SELECT * FROM users").fetchall()

# conn = sqlite3.connect('data/db.sqlite3')


#     # write data to database
#     df.to_sql("app_weather", conn, if_exists="replace",
#             index=True, index_label='id')
#     stats.to_sql("app_stats", conn, if_exists="replace",
#                 index=True, index_label='id')
#     # close database connection
#     conn.close()

# not advisable

In [ ]:
# import sys
# !{sys.executable} -m pip install xlwt
# to string 
a=dataFrame.to_string()
print(a)
dataFrame.to_excel("data/outputs/pqrpqr.xls")

---
# Assingment
* what is indexing (agar mera data me pan and aadhar hota hai to me uske bases pe unke liye indexes create kar luga) => not releated to pandas
* multi indexing data frame
* read from json/excel
* read_csv (how to read n rows at a time) - for a lesser memory footprint
* mongo db

#### read_csv (how to read n rows at a time) - for a lesser memory footprint

In [295]:
# chunksize= is a very useful argument because the output of read_csv after passing it is an iterator, so you can call the next() function on it to get the specific chunk you want without straining your memory. For example, to get the first n rows, you can use
chunks=pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t",chunksize=10)

df = next(chunks)
print(df)
df = next(chunks)
print(df)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351
        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735

In [296]:
# If you only want to read the first 10 (non-header) rows:
dataFrame=pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t" ,nrows=10)
print(dataFrame)

# If you only want to read rows 30-40
dataFrame=pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t" ,skiprows=30, nrows=10)
print(dataFrame)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351
   Algeria  Africa  1977  58.014  17152804  4910.416756
0  Algeria  Africa  1982  61.368  20033753  5745.160213
1  Algeria  Africa  1987  65.799  23254956  5681.358539
2  Algeria  Africa  1992  67.744  26298373  5023.216647
3  Algeria  Africa  1997  69.152  29072015  4797.295051
4  Algeria  Africa  2002  70.994  31287142  5288.040382
5  Algeria  Africa  2007  72.301  33333216  6223.367465
6   Angola  Africa  1952  30.015   4232095  3520.610273
7   Angola  Africa  1957  31.999   4561361  3827.940465
8   Angola  Africa  1962  34.000   4826015  4269.276742
9   Angola  Africa  1967  35.985   5247469  5522.776375

### Multi-index

In [297]:
import pandas
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pandas.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
dataFrame = pandas.DataFrame(values, columns=['max_speed', 'shield'], index=index)
# tips.groupby(['sex', 'smoker']).agg({'tip': 'mean'})
# print(dataFrame)
dataFrame

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [298]:
print(dataFrame.index)

print(dataFrame.loc['cobra'])
dataFrame.loc['cobra', 'mark i']
dataFrame.loc[[('cobra', 'mark ii')]]
dataFrame.loc[('cobra', 'mark i'), 'shield']
dataFrame.loc[('cobra', 'mark i'):'viper']
dataFrame.loc[('cobra', 'mark i'):('viper', 'mark ii')]

MultiIndex([(     'cobra',   'mark i'),
            (     'cobra',  'mark ii'),
            ('sidewinder',   'mark i'),
            ('sidewinder',  'mark ii'),
            (     'viper',  'mark ii'),
            (     'viper', 'mark iii')],
           )
         max_speed  shield
mark i          12       2
mark ii          0       4

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

In [299]:
# iterables=[["bar", "baz", "foo", "qux"], ["one", "two"]]
# pandas.MultiIndex.from_product(iterables, names=["first", "second"])

In [300]:
import numpy
df = pandas.DataFrame(
    [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],
    columns=["first", "second"],
)
print(df)
index = pandas.MultiIndex.from_frame(df)

s = pandas.Series(numpy.random.randn(4), index=index)
print(s)

df = pandas.DataFrame(numpy.random.randn(4, 4), index=index)
print(df)

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two
first  second
bar    one       0.821234
       two       1.162652
foo    one      -0.359710
       two      -0.011124
dtype: float64
                     0         1         2         3
first second
bar   one     0.864582 -1.369318  0.104835 -1.274246
      two     1.180841 -0.195194 -1.710434 -0.629055
foo   one     2.007451  0.178196 -0.621386 -0.232350
      two    -1.038393  0.382333  0.768950  0.962359

In [301]:
dataFrame = pandas.DataFrame(numpy.random.randn(4,4) , index=["A","B","C","D"],columns=index)
print(dataFrame)
print(dataFrame.T)

first        bar                 foo
second       one       two       one       two
A      -1.143925  0.036697 -2.645767 -0.724113
B      -1.093152 -0.628051  0.133561 -0.250503
C       1.400435  1.482744 -0.510922  0.398838
D       0.193455 -0.007010  0.985913 -0.213182
                     A         B         C         D
first second
bar   one    -1.143925 -1.093152  1.400435  0.193455
      two     0.036697 -0.628051  1.482744 -0.007010
foo   one    -2.645767  0.133561 -0.510922  0.985913
      two    -0.724113 -0.250503  0.398838 -0.213182

### **read_from_excel**

In [302]:
dataFrame = pandas.read_excel("data/data27/sales.xls")
print(dataFrame)
print(dataFrame[["nbrhood","landval"]])

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
     nbrhood  landval  improval  totval  salepric  saltoapr
0          A    30000     64831   94831    118500      1.25
1          A    30000     50765   80765     93900      1.16
2          A    46651     18573   65224    191500      1.16
3          A    45990     91402   37392    184000      1.34
4          A    42394     98181   40575    168000      1.20
...      ...      ...       ...     ...       ...       ...
2435       G     5610     13916   19526     30000      1.54
2436       G     7468     11825   19293     20000      1.04
2437       G    10986      3000   13986     14400      1.03
2438       G     7088     26911   33999     23000      0.68
2439       G     5589     12173   17762     10000      0.56

[2440 rows x 6 columns]
     nbrhood  landval
0          A    30000
1          A    30000
2          A    46651
3          A    45990
4          A    42394
...      ...      ...
2435       G     5610
2436       G     7468
2437       G    10986
2438       G     7088
2439       G     5589

[2440 rows x 2 columns]

### read_json

In [303]:
dataFrame = pandas.read_json("data/data27/bbt.json",orient="index")
dataFrame
# mul = pandas.MultiIndex.from_frame(dataFrame)
# print(mul)

                                                              0
id                                                           66
url           http://www.tvmaze.com/shows/66/the-big-bang-th...
name                                        The Big Bang Theory
type                                                   Scripted
language                                                English
genres                                                 [Comedy]
status                                                    Ended
runtime                                                      30
premiered                                            2007-09-24
officialSite          http://www.cbs.com/shows/big_bang_theory/
schedule                {'time': '20:00', 'days': ['Thursday']}
rating                                         {'average': 7.9}
weight                                                       97
network       {'id': 2, 'name': 'CBS', 'country': {'name': '...
webChannel                                                 None
externals     {'tvrage': 8511, 'thetvdb': 80379, 'imdb': 'tt...
image         {'medium': 'http://static.tvmaze.com/uploads/i...
summary       <p><b>The Big Bang Theory</b> is a comedy abou...
updated                                              1602859722
_links        {'self': {'href': 'http://api.tvmaze.com/shows...
_embedded     {'episodes': [{'id': 2913, 'url': 'http://www....

In [304]:
dataFrame = pandas.read_json("data/data27/population.json",typ="series")

print(dataFrame)

0    {'page': 1, 'pages': 1, 'per_page': 5000, 'tot...
1    [{'indicator': {'id': 'SP.POP.TOTL', 'value': ...
dtype: object