# Pandas DataFrame
[download demo data](https://thinkingmachines.in/downloads/data26.zip)
- tsv  tab sepreated value
- csv comma sepreated value

In [ ]:
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv" , sep='\t')
print(dataFrame)

In [ ]:
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv",sep="\t")
# print(dataFrame)
print(type(dataFrame))
print(dataFrame.shape) # size of dataframe in matrix
print(dataFrame.columns) # columns of dataframe 
print(type(dataFrame.columns))
print(dataFrame.dtypes) # print datatypes of columns
print(type(dataFrame.dtypes))
print(dataFrame.info()) # provides informations

In [ ]:
country = dataFrame['country']
print(country)
print(type(country))
countries = set(dataFrame['country'])
# print(countries)
print(type(countries))
for c in countries: print(c)

In [ ]:
a = dataFrame[["country" , "year"]]
print(a.head())
print(a.tail())
print(a.iloc[4]) # 4 index data
print(dataFrame.iloc[4])
print(list(dataFrame.iloc[4]))

In [ ]:
print(dataFrame.iloc[:,0]) # 0 index se all data
print(dataFrame.iloc[range(0,10,2)])
# iloc  loc  ix
print("*"*50)

### group by

In [ ]:
print(dataFrame.groupby("country")["pop"].count())
print(dataFrame.groupby("country")["pop"].sum())
# print(dataFrame.groupby("country").sum()["pop"])

# SQL -->  select sum(population) from country group by name
print(dataFrame.groupby("country").sum())

### Create DataFrame

In [ ]:
import pandas
myDataFrame = pandas.DataFrame(
    {
        "roll_number":[101,102,103,104,105],
        "name":["Sameer","Sudhir","Sandeep","pankaj","Rahul"],
        "city":["Ujjain","Indore","Shajapur","Indore","Mumbai"]
    }
)
print(myDataFrame)
print(myDataFrame.info())

#### SQL --> JOIN
### merge to dataFrame with inner (join)

In [ ]:
import pandas

citiesDataFrame=pandas.DataFrame(
    {
        "city_code":[1,2,3,4,5,6],
        "city_name":["Ujjain","Dewas","Indore","Mumbai","Pune","Goa"]
    }
)

studentsDataFrame=pandas.DataFrame(
    {
        "student_roll_number":[101,102,103,204],
        "student_name":["Sameer","Sudhir","pankaj","Rahul"],
        "city_code":[1,2,2,4]
    }
)

stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="inner",on=["city_code"])

print(stud)

In [ ]:
# left join , right join
stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="left",on=["city_code"])

print(stud)

stud = pandas.merge(studentsDataFrame,citiesDataFrame, how="right",on=["city_code"])

print(stud)

---
# Assignment 
* spandas.series
* iloc
* loc
* nunique

#### iloc 
* Access a group of rows and columns by integer position(s).
* Purely integer-location based indexing for selection by position.

In [ ]:
# iloc
import pandas
dataFrame = pandas.read_csv("data/data26/video26_dataset_1.tsv" , sep='\t')
print(dataFrame.iloc[0]) # 0 index ka data matlab ==> zeroth row
lst=list(dataFrame.iloc[0])
print(dataFrame.iloc[[0]]) # 0 index ka data matlab ==> zeroth row
# lst2=dataFrame.iloc[[True,False,True]]
lst2=dataFrame.iloc[lambda x: x.index % 2 == 0]
# print(lst)
print(lst2)

In [ ]:
# print(dataFrame.iloc[4])
a=dataFrame.iloc[4,1] #4th row ka 1 index
print(a)
print(type(dataFrame.iloc[4,1]))
print(dataFrame.iloc[[0,4]]) # 0th row and 4th row
print(type(dataFrame.iloc[[0,4]])) # 0th row and 4th row

print((dataFrame.iloc[[0,4]][['country','year']]))

In [ ]:
print(dataFrame.iloc[:3])
print(dataFrame.iloc[[0,2],[1,3]])
print(dataFrame.iloc[1:3,0:3])

In [ ]:
print(dataFrame.iloc[:,[True,False,True,False,False,False]])
print(dataFrame.iloc[: , lambda x : [1,2]])

### loc
* Access a group of rows and columns by label(s) or a boolean array.
* Purely label-location based indexer for selection by label.

In [ ]:
dataFrame = pandas.read_csv('data/data26/video26_dataset_1.tsv',sep="\t")
# print(dataFrame)
# print(dataFrame['year'])
print(dataFrame.index) # RangeIndex(start=0, stop=1704, step=1)
print(list(dataFrame.loc[5]))
print(list(dataFrame.iloc[5]))

In [ ]:
print(dataFrame.iloc[[5,1]])
print(dataFrame.loc[[5,1]])

In [ ]:
# print(dataFrame.iloc[0,'year']) not accept the string value , not aplicable
print(dataFrame.loc[5,'year']) # 5th index ka year
print(dataFrame.loc[0:5,'year'],)
print(dataFrame.loc[0:5,['year','country']])
# print(type(dataFrame.iloc[:5][['year','country']]))
print(type(dataFrame.loc[:5,['year','country']]))

In [ ]:
dataFrame.loc[pandas.Index([0,1],name="foo")]

> #### spacial things

In [ ]:
print(dataFrame.loc[dataFrame['year']>2000])
print(dataFrame.loc[dataFrame['year']>2000 , ['country']])
print(dataFrame.loc[dataFrame['year']>2000 , ['country','year']])

In [ ]:
# print(dataFrame.loc[lambda df : df['year']==2002])
dataFrame.loc[[0,1],['year']] ='2000' # set the year value 2000 for 0 and 1 index 
print(dataFrame.head())
dataFrame.loc[:,['year']]=3000
print(dataFrame.head())


dataFrame.loc[0]=20 # set all value of 0 index into 20 
print(dataFrame.head())

dataFrame.loc[dataFrame['year']< 2000] = 0
print(dataFrame)

In [ ]:
dataFrame.loc[7:9]

In [ ]:
import pandas as pd
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
print(df)
print(df.loc['cobra'])
df.loc['cobra', 'mark i']
df.loc[[('cobra', 'mark ii')]]
df.loc[('cobra', 'mark i'), 'shield']
df.loc[('cobra', 'mark i'):'viper']
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

### nunique

In [29]:
import pandas
dataFrame = pandas.DataFrame(
    {'A': [4, 5, 6], 'B': [4, 1, 1]}
)
print(dataFrame.nunique()) # a have 3 unique item and b have 2
print(dataFrame.nunique(axis=1)) # check unique on column

A    3
B    2
dtype: int64
0    1
1    2
2    2
dtype: int64

---
----
>> Extra

In [24]:
import dask.dataframe as dd
import os
import sqlite3


def IngestData(directory):
    # list to store Dask dataframes for each file
    dfs = [] 
     
    for filename in os.listdir(directory):
        if filename.endswith(".txt"):
            filepath = os.path.join(directory, filename)
            
            # create Dask dataframe from text file
            df = dd.read_csv(filepath, sep="\t", header=None,
                            names=["Date", "Maxtemp", "Mintemp", "Precipitation"])
           
            # add filename as new column
            df["Station_ID"] = filename[:11]
            dfs.append(df)
    
    # concatenate Dask dataframes into one
    df = dd.concat(dfs)
    
    # compute the final dataframe and convert to Pandas dataframe
    df = df.compute()
    df = df.reset_index(drop=True)
    
    #Drop the -9999 indicating the empty values
    stats = df[(df['Maxtemp'] != -9999) |
            (df['Mintemp'] != -9999) | (df['Precipitation'] != -9999)]

    #creating the stats data
    stats = stats.groupby(['Station_ID', df['Date'].map(str).str[:4]]).agg({
        'Maxtemp': 'mean',
        'Mintemp': 'mean',
        'Precipitation': 'sum'
    }).reset_index()
    
    stats.rename(columns={'Maxtemp': 'AvgMaxtemp',
                        'Mintemp': 'AvgMintemp',
                        'Precipitation': 'TotalAccPrecipitation'}, inplace=True)
    
    conn = sqlite3.connect('data/db.sqlite3')


    # write data to database
    df.to_sql("app_weather", conn, if_exists="replace",
            index=True, index_label='id')
    stats.to_sql("app_stats", conn, if_exists="replace",
                index=True, index_label='id')
    # close database connection
    conn.close()
    return
    
IngestData('data')